.bigabout{
    min-height: 100%;
    width: 100%;
    color: black;
    background-color: $lightbackground;
    font-family: $font2;
    padding-top: 10px;
    transition: all 1s ease;
    position: relative;
    z-index: 1;
    .abouttitle{
        font-family: $font1;
        font-size: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
        color: rgb(65, 65, 65);
    }
    .abouttext{
        word-wrap: normal;
        margin-right: 20px;
        padding-left: 10px;
    }
    .carouselholder{
        max-width: 600px;
        height: auto;
        margin: auto;
        overflow: hidden;
    }
}
.bigaboutdown{
    margin-top: 220px;
    min-height: 100%;
    width: 100%;
    color: black;
    background-color: $lightbackground;
    font-family: $font2;
    padding-top: 10px;
    transition: all 1s ease;
    position: relative;
    z-index: 1;
    .abouttitle{
        font-family: $font1;
        font-size: 40px;
        margin-bottom: 20px;
        padding-left: 10px;
        color: rgb(65, 65, 65);
    }
    .abouttext{
        word-wrap: normal;
        margin-right: 20px;
        padding-left: 10px;
    }
    .carouselholder{
        max-width: 600px;
        height: auto;
        margin: auto;
        overflow: hidden;
    }
}