@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');



$font1: 'Lato', sans-serif;
$font2: 'Raleway', sans-serif;
$backgroundred: #821d25;
$fontred: rgb(255, 255, 255);
$lightbackground: white;
$lightfont: #f2f2f2